* {
    font-weight: bold;
}

.switch_outer {
    width: 120px;
    height: 60px;
    background-color: lightgray;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}
.switch_outer.active {
    background-color: #51E373;
}

.toggle_switch {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto;
    box-shadow: 1px 1px 7px #B7B7B7, -1px -1px 4px #CECECE inset;
    transition: left .3s ease-in-out;
}
.toggle_switch.active {
    left: 65px;
}